<p id="notice"><%= notice %></p>

<p>
  <strong>Poll:</strong>
  <%= @result.poll.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user.email %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @result.answer.name %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
